<div class="header">
	<h1>Simon Says</h1>
	<button id="random">Click me</button>
</div>

<div>
	<table>
		<tbody>
			<tr>
				<td class="square" id="1"></td>
				<td class="square" id="2"></td>
				<td class="square" id="3"></td>
			</tr>
				<td class="square" id="4"></td>
				<td class="square" id="5"></td>
				<td class="square" id="6"></td>
			</tr>
				<td class="square" id="7"></td>
				<td class="square" id="8"></td>
				<td class="square" id="9"></td>
			</tr>
		</tbody>	

	</table>	

</div>
